.html, body{
    font-family: 'Catamaran', sans-serif;
    height: 100%;
    color: #262929;
}
.container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #777776;
}


#map {
    position:relative;
    height: 100%;
    width: 100%;
}
h3 {
    font-size: 1em;
    margin: 0;
    padding: 10px 20px 0px 10px;
}

.form-section, .legend{
    background-color: rgba(246, 248, 248, 0.9);
    box-shadow: 3px 3px 7px #B2AFAF;
}

/* Form */
.form-section{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0 10px;

    display: block;
    text-align: center;
    bottom: 0;
    top: initial;
    left: 0;
    padding: 0;
}
.form{
    max-width: 100%;
}

.form-row{
        display: inline-block;
        margin: 0 1em;
}

label{
    font-size: 0.8em;
}

input{
    padding: 2px;
}

button{
    padding: 4px 8px;
    font-size: 0.9em;
    color: white;
    background-color: #1BA159;
    border: none;
    outline:none;

}
#submit-btn{
    background-color: #FF9800;
    margin: 0 10px;
}

/* Legend panel */
.toplist{
    display: block;
    position: absolute;
}

.legend{
    display: block;
    position: absolute;
    overflow: scroll;
}


.list {
    list-style-type: none;
    padding: 10px 20px;
    margin: 0;
}

.list>li{
    margin-bottom: 12px;
}


.icon {
    width: 16px;
}

.item{
    font-size: 0.7em;
}

a {
    color: #2196F3;
    text-decoration: none;
}

.item>a{
    color: #2B2B2A;
    text-decoration: none;
    font-size: 1.2em;
}

p{
    margin: 0;
    margin-left: 10px;
}

.author{
    font-size: 0.7em;
}

/* Media queries */
@media screen and (max-width: 800px) {
    .form-section, .legend{
        height: 45%;
    }

    .toplist{
        bottom: 45%;
        width: 100%;
        left: 0;
    }
    .form-section{
        width: 100%;
    }

    .title{
        margin-top: 10px;
    }

    input{
        display: inline-block;
    }
    label{
        display: inline-block;
        margin-right: 5px;

    }
    #submit-btn{
        display: block;
        margin: 0.5em auto;
    }
    .legend{
        width: 100%;
        bottom: 0;
        left: 0;
    }

    h3{
        padding: 0 20px;
        font-size: 0.9em;
    }

    .btn-tab{
        margin: 0;
        font-size: 1em;
        display: inline-block;
    }

}

@media screen and (min-width: 431px) and (max-width: 800px) {

    .form{
        margin: 0 auto;
    }

}


@media screen and (min-width: 801px) {
    input{
        padding: 3px;
        margin: 0 0 10px 5px;
        }

    .form-section{
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: initial;
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        /* text-align: center; */
    }
    .form{
        margin-top: 5px;
    }

    .form-row{
        margin: 0 10px;
    }

    label{
        width: initial;
        font-size: 0.8em;
    }

    .legend{
        top: 90px;
        left: 10px;
        bottom: initial;
        max-height: 60%;
        width: 35%;
        max-width: 300px;

    }
    .toplist{
       /* not visible in bigger screens*/
    }
}


@media screen and (max-height: 300px){ /* handle the keyboard open case */
    .form-section, .legend{
        height: 100%;
    }
    .toplist{
        bottom: 100%;
    }
    label{
        margin: 0 auto;
    }
}




