@media screen and (max-width: 800px) {

.form{
    display: block;
    text-align: center;
    width: 100%;
    height: 30%;
    bottom: 0;
    top: initial;
    left: 0;
    padding: 0;

}
label{
    width: 100%;
    display: inline-block;
    margin: 0 auto;

}
input{
    padding: 2px;
    max-width: 50%;
    margin: 0 25%;


}
button{
    display: block;
    margin: 10px auto;
}

.legend{
    max-width: initial;
    width: 100%;
    height: 30%;
    bottom: 0;
    top: initial;
    left: 0;
}

.toplist{
    max-width: initial;
    width: 100%;
    left: 0;
    bottom: 30%;
    top: initial;
}

h3{
    padding: 0 20px;
    font-size: 0.9em;
}

.btn-tab{
    margin: 0;
    font-size: 1em;
    display: inline-block;
}

















}