.html, body{
    font-family: 'Catamaran', sans-serif;
    height: 100%;
    color: #262929;
}
.container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #777776;
}


#map {
    position:relative;
    height: 100%;
    width: 100%;
}

h3 {
    font-size: 1em;
    margin: 0;
    padding: 10px 20px 0px 10px;
}

.form, .legend{
    background-color: rgba(246, 248, 248, 0.9);
    box-shadow: 3px 3px 7px #B2AFAF;
}


/* Form */
.form{
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0 10px;
    display: flex; /* desktop */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

label{
    margin: 10px;
    font-size: 0.8em;
}

input{
    padding: 3px;
    /* margin-left: 5px; */
    margin: 0 0 10px 5px;

}

button{
    padding: 4px 8px;
    font-size: 0.9em;
    color: white;
    background-color: #1BA159;
    border: none;
    outline:none;
    margin-left: auto;
    margin-left: 15px;
}

#submit-btn{
    background-color: #FF9800;
    margin-bottom: 10px;
}



/* Legend panel */
.legend{
    display: block;
    position: absolute;
    top: 90px;
    left: 10px;
    max-height: 60%;
    width: 35%;
    max-width: 300px;
    overflow: scroll;

}

.list {
    list-style-type: none;
    padding: 10px 20px;
    margin: 0;
}

.toplist{
    display: block;
    position: absolute;
    width: 30%;
    max-width: 300px;
    top: 105px;
    left: 10px;

}


.list>li{
    margin-bottom: 12px;
}


.icon {
    width: 16px;
}

.item{
    font-size: 0.7em;
}

a {
    color: #2196F3;
    text-decoration: none;
}

.item>a{
    color: #2B2B2A;
    text-decoration: none;
    font-size: 1.2em;
}

p{
    margin: 0;
    margin-left: 10px;
}
}




/* InfoWindow */
.infoWindowContent {
    z-index: 10;
    overflow: scroll;
}


.infoWindowContent>h2 {
    margin: 5px auto;
    color: #0B4E84;
}
.infoWindowContent>span{
    line-height: 2em;
}

